@model Guild.Models.Update

<div class="Container">
    <div class="row">

        <!--Left column with the form-->
        <div class="col-md-6">
            <h1 class=" "> Register Yourself</h1>
            <form method="post" action="Update" class="mt-5">
                <div class="mb-3 col-md-8">
                    <label for="Name" class="form-label">Id</label>
                    <input type="text" class="form-control" asp-for="Id" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="Phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>

                </div>

                <div class="mb-3 col-md-8">
                    <label for="Age" class="form-label">Age</label>
                    <input type="number" class="form-control" asp-for="Age" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

              

                <button type="submit" class="btn btn-primary mb-3">Update</button>


            </form>

        </div>

        <!-- Right Column with a picture.-->

        <div class="col-md-6">
            <h1>A picture will be here (><).</h1>
        </div>



    </div>
</div>