@model Guild.Models.Register
<h1>You can create your profile here 👍.</h1>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <form method="post" asp-action="AddEmployee">
              
                <div class="row g-3">
                    <div class="form-group mb-3 col-auto">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" asp-for="FirstName">

                    </div>

                    <div class="form-group mb-3 col-auto">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" asp-for="LastName">

                    </div>
                </div>



                <div class="mb-3 col-md-7">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Email">

                </div>

                <div class="mb-3 col-md-7 ">
                    <label class="form-label">Phone</label>
                    <input type="number" class="form-control" asp-for="Phone">
                </div>


                <div class="mb-3 col-md-7">
                    <label class="form-label">Age</label>
                    <input type="number" class="form-control" asp-for="Age">

                </div>



                <div class="mb-3 col-md-7">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-5">
            <h1>This is a picture 😎</h1>
        </div>
    </div>
</div>