@model Guild.Models.Register

<form method="post" action="/Register/Login">
   
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">

    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>