@model Guild.Models.Login

<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body class="bg-dark text-center">


    <div class="containerLog mx-auto">
 


            <form asp-action="Login" method="post">
                <div class="row mx-auto mb-3">
                    <h1 class="text-dark mt-2">Login 🙇</h1>
                </div>
                <div class="form-group mb-3 mx-auto row">
                <label class="text-dark text-md-right mb-3">Email</label>
                    <div class="col-md-9 mx-auto">
                         <input type="email" asp-for="Email" class="form-control text-center" />
                    </div>

                </div>


                <div class=" form-group mb-3 mx-auto row">
                <label class="text-dark mb-3">Password </label>
                    <div class="col-md-9 mx-auto">
                        <input type="password" asp-for="Password" class="form-control text-center" />
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-primary mb-3">Login</button>

                <div class="form-btn-group mb-3 mx-align-self-auto row"> 
                <a asp-action="AddEmployee" class="text-decoration-none"><p>Don't Have an Id? Go to Register.</p></a>
                </div>

            </form>
  

    </div>
</body>
