@model Guild.Models.UserProfile
@{
    var Id = Model?.ProfileId;

    if (Id != null)
    {
        <a class="btn btn-success" asp-action="Create" asp-controller="Register" asp-route-id="@Model.ProfileId">Profile</a>
    }
}
   
