@model List<Guild.Models.UserProfile>

        <a class="btn btn-success" asp-action="Create" asp-controller="Register" asp-route-id="ProfileId">Profile</a>
    
<form asp-action="Logout" method="post" asp-controller="Register">]
    <button class="btn btn-info">Logout</button>
</form>